process {
    withName:trimGalore {
        container = 'clinicalgenomics/trim_galore:0.6.7'
    }
    withName:mapgenome {
        container = 'staphb/bowtie2'
    }
    withName:remdup {
        container = 'broadinstitute/picard'
    }
    withName:convertBigWig {
        container = 'kfburbach/seqtools:v3'
    }
}
docker {
    enabled = true
    temp = '/data/Reference_Genomes'
}
