process {
    withName:trimGalore {
        container = 'clinicalgenomics/trim_galore:0.6.7'
    }
    withName:stargenome {
        container = 'alexdobin/star:2.7.10a_alpha_220506'
    }
    withName:remdup {
        container = 'broadinstitute/picard'
    }
    withName:countReads {
        container = 'ctomlins/featurecounts'
    }
    withName:convertBigWig {
        container = 'kfburbach/seqtools:v3'
    }
}
docker {
    enabled = true
    temp = '/data/Reference_Genomes'
}
